* {
    margin: 0;
    padding: 0;
}

html,
body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);
}